
.fade-in {
    -moz-animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.fade-in.two {
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.fade-in.three {
    -moz-animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.fade-in.four {
    -moz-animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
.button::before {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    background: #14B97D;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    -moz-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
    -ms-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
    -moz-transition: -moz-transform 0.4s, opacity 0.4s, background-color 0.4s;
    -o-transition: -o-transform 0.4s, opacity 0.4s, background-color 0.4s;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s, background-color 0.4s;
    transition: transform 0.4s, opacity 0.4s, background-color 0.4s;
    -moz-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10000);
  opacity: 100;
  -moz-transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0em, 0);
  -ms-transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0em, 0);
  -webkit-transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0em, 0);
  transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0em, 0);
  -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
#banner .welcome .scroll-down {
    font-size: 40px;
    margin: 50px 0 0 0;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}